@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Delicious+Handrawn&display=swap');

 

*{
  margin:0;
  padding:0;
  font-size:1rem ;
 font-family: 'Assistant', sans-serif !important;
 border-sizzing : border-box;
  
}

.breadcrummb * {

  text-decoration : none !important

}






.cutPrice::before{ 
  content: '';
  width:100%;
  height:1%;
  background-color : black; 
position: absolute;
top: 50%

}

.cutPrice {
position : relative;
 
}

 .formBtn {
  background: linear-gradient(45deg, blueviolet, deeppink);
  
 }

