.FooterFlex{
    display: flex;
    justify-content: space-around;
}
.FooterFlex h1{
    font-weight: 600;
}
.FooterFlex ul li{
    list-style: none;
    /* font-weight: 500; */
    /* display: block;
    margin: auto; */
}
.FooterFlex > div{
    /* border: 1px solid black; */
}
.FooterFlex img{
    width: 20%;
}

.col-span-2{
    width: 25%;
}
.col-span-4{
    width: 25%;
    align-items: center;
}
.MainFooter{
    margin: 5%;
}
.FooterImageOne{
    display: flex;
}
.FooterImageOne img{
    width: 40%;
    margin: 5% 0;
}
.FooterSecongImgflex{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.FooterLastSection{
    margin-top: 4%;
}

.MediaFooterFlex{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 12px;
}
.MediaFooterFlex img{
    width: 20%;
    
}
.MediaFooterFlex2{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
.FooterSecondSpace a{
    margin: 15px;
    font-size: 12px;
}