.NavMain{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  width:100%;
  /* margin-bottom:50px; */
  background:'white' ;
  /* position: absolute;
  top:0; */

}
.NavMain2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width:100%;
  /* margin-bottom:50px; */
  /* background:'white' !important; */
  
}
.firstNavMain{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  font-size: 18px;
  font-weight: 600;
  /* border: 1px solid black; */
}
.secondNavMain{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  
}
.secondNavMain > div{
  width: 100%;
}
.secondNavMain input{
  /* border-radius: 5px; */
  width: 80%;
  border: none;
  background-color: rgb(236, 236, 236);
  height: 32.5px;
  padding-left: 20px;
  
  outline: none;
  /* border-bottom: none; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.secondNavMain span{
  background-color: rgb(236, 236, 236);
  padding: 5px;
  /* width: 50%; */
  padding-left: 10px;
  padding-top: 5.1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
}
.thirdNavMain{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:15%;
  text-align: center;
}
.thirdNavMain img{
  display: block;
  margin: auto;
}
.thirdNavMainMobile{
display: flex;
  justify-content: space-around;
  align-items: center;
  width:30%;
  text-align: center;
  gap: 5%;
  margin-right: 10%;
  /* border: 1px solid black; */

}
.thirdNavMainMobile img{
display: block;
width: 10%;
  margin: auto;
}





@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@600&family=Poppins&family=Quicksand&display=swap');

*{
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
}

body{
background-color: white;
}

header{
width: 100%;
position: sticky;
z-index: 100;
position: -webkit-sticky;
position: sticky;
top: 0;
background-color: #fff;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#upperNav{
display: flex;
/* margin-top: 20px; */
padding-top: 20px;
/* margin-bottom: 20px; */
justify-content: space-around;
}

#upperNav a{
text-decoration: none;
color: #333;
margin-left: 20px;
font-family: "poppins";
}

#navbar{
display: flex;
padding-bottom: 15px;
margin-left: 0px;
position: sticky;
top: 0;
z-index: 100;
font-family: montserrat;
}
#menuToggle
{
display: block;
/* border: 1px solid black; */
/* margin: auto; */
position:static;

padding: 50px 0px 0px 50px;

z-index: 1;

-webkit-user-select: none;
user-select: none;
}

#menuToggle a
{
text-decoration: none;
color: #232323;

transition: color 0.3s ease;
}

#menuToggle a:hover
{
color: red;
}


#hamburger-menu-button
{
display: block;
width: 40px;
height: 32px;
position: absolute;
/* top: 7px; */
/* left: -5px; */
padding: 50px 0px 0px 50px;
cursor: pointer;

opacity: 0; /* hide this */
z-index: 2; /* and place it over the hamburger */

-webkit-touch-callout: none;
}

#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: black;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.5, 0.5);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
position: absolute;
width: 300px;
margin: -100px 0 0 -50px;
padding: 50px;
padding-top: 125px;

background: #ededed;
list-style-type: none;
-webkit-font-smoothing: antialiased;
transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}



#menu li
{
padding: 10px 0;
font-size: 17px;
}

#menuToggle input:checked ~ ul
{
transform: none;
}

.no-scroll {
overflow: hidden;
}
#location{
height: 50px; 
width: 100px;
margin-top: 30px;
border: 0px;
margin-left: 5px;
cursor: pointer;
font-family: montserrat;
}

#logo{
width: 170px; 
height:50px; 
/* margin-top:-5px; */
position: relative;
top: 35px;
bottom: -3px;
right: 0px;
left: 27px;
display: block;
}
#search{
display: flex;
justify-content: space-between;
margin-left: 1%;
}

#searchBar{
width: 90%;
/* margin-left: 25px; */
border: 2px solid black;
padding-left: 20px;
font-family: montserrat;
}

#searchBtn{
height: 50px; 
width:10%;
/* margin-top: 31px; */

border: 0px;
/* margin: auto; */
/* margin-left: -50px; */
cursor: pointer;
background-color: black;
color: white;
}

#navbar p{
margin-top: 45px;
margin-left: 8px;
cursor: pointer;
}


/* * {
  box-sizing: border-box;
} */


@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@600&family=Poppins&family=Quicksand&display=swap');

:root {
  --hoverTextColor:#EC407A;
  --textColor: black;
}

/* body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--textColor);
} */

/**navigation css ***/
#nav {
  width: 100%;

  /* border-bottom: 1px solid #ccc; */
  font-size:15px;
  font-family: 'montserrat';
  height: 54px;
  padding-left: 7%;
  padding-right: 7%;
}
#nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  height: 100%;
  margin: 0;
  position: relative;
}
#nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  /* background-color: red; */
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
#nav ul li:hover{
  color: var(--hoverTextColor);
  border-bottom: 4px solid var(--hoverTextColor);
}
/* #nav ul li:hover .slider{
  overflow: hidden;
  overflow: visible;
  color: var(--hoverTextColor);
  border-bottom: 4px solid var(--hoverTextColor);
} */


/**module box submenu***/
.subMenu {
    position: absolute;
    font-family: 'poppins';
    width: 200%;
    /* height:100%; */
    top: 78px;
    left: 0;
    right: 0;
  
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: none;
    /* margin: 4px 70px; */
    margin: auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 2;
    font-size: 13px;
    /* font-weight: 500; */
    /* width: fit-content; */
  }
  
  #nav ul li:hover .subMenu {
    display: block;
  }
  
  .subMenu p {
    color: var(--textColor);
    margin-top: 10 px;
    padding: 10px 0px;
    width: 150px;
  }
  .submenuList {
    display: flex;
    justify-content: space-around;
  }
  .column {
    margin-right: 100px;
  }

  .column h4{
    font-family: montserrat;
  }
  .HamBurger{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .HiddenPart{
    width: 25%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 100px;
    left: 0px;
  }
  .HamNav{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .HamNav li{
    margin: 10% 5%;
    color: black;
  }