.SingleFlex{
    display: flex;
}
.SingleFlex div:nth-child(2){
    width: 100%;
    padding: 3%;
    padding-top: 1%;
}

@media screen and (max-width:700px) {
    .SingleFlex{
        flex-direction: column;
    }
    
}